.input-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
  width: 90%;
}

.input-field {
  box-shadow: inset 0 0 3px black;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 1em 1.2em;
  line-height: 1.4rem;
  font-size: 1.1rem;
  transition: 0.3s;
}

.input-field:focus {
  line-height: 1.8rem;
}

.input-btn {
  position: absolute;
  right: 2px;
  margin: 0.4em;
  box-shadow: 0 0 3px #222222;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background: #FAEDCD;
  font-size: 1.1rem;
  transition: 0.3s all;
}

.input-btn:hover {
  background: #FEFAE0;
}

.input-btn:active {
  transform: scale(0.9)
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.task-form {
  display: flex;
  align-items: center;
  margin-top: 1.2em;
  border-radius: 4px;
  width: 85%;
  padding: 1em;
  background: #FEFAE0;
}

.task-text {
  flex: 1;
  font-weight: 300;
}

.task-icon {
  margin-left: 0.4em;
  cursor: pointer;
}