* {
  margin: 0;
  font-family: Geologica;
  color: #222222;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCD5AE;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 0.5em auto;
  font-family: Cabin Sketch;
  font-size: 3.2rem;
}

button:hover,
button:active {
  cursor: pointer;
}