* {
  margin: 0;
  font-family: Geologica;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCD5AE;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin-top: 0.6em;
  font-family: Cabin Sketch;
  font-size: 3.2rem;
}